.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}

.seeall {
    width: 100%;
    background-color: rgb(81, 81, 81);
    padding-bottom: 40px;
    padding-right: 120px;
    display: flex;
    justify-content: flex-end;
}

.seeall button {
    color: #545454;
    background-color: #c6a7a4;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
    border: transparent;
}

.seeall button:hover {
    background-color: transparent;
    color: #c6a7a4;
    border: 2px solid #c6a7a4;
}

.seeall button a {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.seeall button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    vertical-align: middle;
}

.seeall button:hover svg {
    margin-left: 25px;
}

/* Banner Video  */

.animation {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Banner */

.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    /* background-image: url('./assets/img/banner-bg.png'); */
    background-color: rgb(255, 255, 255);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fb7878;
    padding: 50px;
    height: 700px;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, #efd0ac -5.91%, #bd8779 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    color: #ffffff;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: #667f74;
}

.banner p {
    color: #747373;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 50%;
}

.link button {
    color: #545454;
    background-color: #c6a7a4;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 50px;
    border-radius: 5px;
    border: transparent;
}

.link button:hover {
    background-color: #545454;
    color: #c6a7a4;
}

.link button a {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.link button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    vertical-align: middle;
}

.link button:hover svg {
    margin-left: 25px;
}

.link button:hover svg {
    margin-left: 25px;
}

.profilePic {
    position: absolute;
    right: -950px;
    top: 550px;
    border-radius: 100px;
}

.profilePic img {
    width: 20%;
    animation: leftright 3s linear infinite;
    border-radius: 100px;
}

@keyframes leftright {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

.txtrotate > .wrap {
    border-right: 0.08em solid #666;
}

/* Index - Scroll Text  */

.scrollCont {
    color: rgb(255, 255, 255);
    font-size: 40px;
    /* z-index: 1; */
    margin: auto;
    white-space: nowrap;
    transition: all 2s ease-in-out;
    width: 100%;
    height: 500px;
    font-size: 70pt;
    padding: 100pt;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    position: relative;
}

.scrollText {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

/* Project  */

.project {
    padding: 80px;
    position: relative;
    background-color: rgb(81, 81, 81);
    display: flex;
    flex-direction: row;
}

.projectcardgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.projimgbx:nth-of-type(2) {
    margin-top: 150px; /* remove top margin of center column */
}

.projimgbx:nth-of-type(4),
.projimgbx:nth-of-type(7) {
    margin-top: -60px; /* remove top margin of center column */
}

.projimgbx:nth-of-type(10) {
    margin-top: -70px; /* remove top margin of center column */
}

.projimgbx:nth-of-type(6) {
    margin-top: -40px; /* remove top margin of center column */
}

.projimgbx:nth-of-type(9),
.projimgbx:nth-of-type(12) {
    margin-top: -120px; /* remove top margin of center column */
}

.project h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.project p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.projimgbx img {
    width: 100%;
}

.projimgbx {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    width: 30%;
    margin: 10px;
}

.projimgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #000000 -5.91%, #333333 111.58%);
    /* opacity: 0.95; */
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.projimgbx:hover::before {
    height: 100%;
}

.projtxtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}
.projimgbx:hover .projtxtx {
    top: 50%;
    opacity: 1;
}

.projtxtx h4 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    color: #fff;
}

.projtxtx span {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
    color: #fff;
}

/* Footer */

.footerCont {
    height: 200px;
    width: 100%;
    background-color: #1f1f1f;
    align-items: flex-end;
    text-align: right;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 26%;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    color: #b8b8b8;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 40px;
}

.socialIcon {
    display: inline-block;
    margin-top: 40px;
    margin-right: 40px;
}

.socialIcon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.socialIcon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.socialIcon a:hover::before {
    transform: scale(1);
}

.socialIcon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.socialIcon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
        hue-rotate(346deg) brightness(95%) contrast(86%);
}

/* Mobile (Iphone XR) */

@media (max-width: 761px) {
    
    .main {
        box-sizing: border-box;
        max-width: 100vw;
        padding: 0;
        margin: 0;
    }

    .scrollCont {
        display: none;
    }

    .animation {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .banner {
        height: 800px;
    }

    .animation img {
        width: 400px;
        height: 200px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        font-size: 16px;
        width: 100%;
    }

    .profilePic {
        right: -1100px;
        top: 880px;
    }

    .profilePic img {
        width: 10%;
        animation: none;
        border-radius: 100px;
    }

    .project {
        padding: 20px;
    }

    .projimgbx {
        width: 100%;
    }

    .project h2 {
        font-size: 30px;
    }

    .project p {
        font-size: 16px;
        width: 100%;
    }

    .projimgbx:nth-of-type(1),
    .projimgbx:nth-of-type(2),
    .projimgbx:nth-of-type(3),
    .projimgbx:nth-of-type(4),
    .projimgbx:nth-of-type(5),
    .projimgbx:nth-of-type(6),
    .projimgbx:nth-of-type(7),
    .projimgbx:nth-of-type(8),
    .projimgbx:nth-of-type(9),
    .projimgbx:nth-of-type(10),
    .projimgbx:nth-of-type(11),
    .projimgbx:nth-of-type(12) {
        margin-top: 30px; /* remove top margin of center column */
    }

    .socialIcon {
        margin-right:10px;
        margin-top: 45px;
    }

    .seeall {
        max-width: 100%;
        background-color: rgb(81, 81, 81);
        padding-bottom: 40px;
        padding-right: 120px;
        display: flex;
        justify-content: flex-end;
    }
    
    .seeall button {
        font-weight: 500;
        font-size: 16px;
        width: 60%;
        padding:8px;
    }
    
    .seeall button:hover {
        border: 2px solid #c6a7a4;
    }

    .seeall button svg {
        font-size: 20px;
        margin-left: 8px;
    }

    .link button {
        font-weight: 600;
        font-size: 18px;
    }
}

/* Tablet and iPad Air */
@media (min-width: 761px) and (max-width: 1000px) {
    .main {
        height: 100%;
        width: 100vw;
    }
}
